/* minihomepi photo stylesheet */

#photo-page{
    overflow-y: auto;
}
.photo-name{
    color: rgb(34, 86, 138);
    font-family: 'SF_IceMango';
    font-size: 2rem;
}
.photo-box{
    width:100%;
    height:max-content;
    margin-bottom: 2em;
}
.photo-pic, .photo-caption{
  text-align: center;
  margin: 1.5rem 0;
}
.photo-caption{
    font-size: 1.3rem;
    font-weight: bolder;
    color: rgb(51, 48, 48);
}